<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/ahmet/development/Java/NeotechAcademy-QA-Bootcamp/TestNG/src/test/java/com/neotech/lesson03/Homework1.java">
        <classes>
            <class name="com.neotech.lesson03.Homework1">
                <methods>
                    <include name="loginAndAddDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>